
GameV6/MagicGolens/.vs/MagicGolens/v16/Browse.VC.db
GameV6/MagicGolens/.vs/MagicGolens/v16/Browse.VC.db-shm
GameV6/MagicGolens/.vs/MagicGolens/v16/Browse.VC.db-wal
GameV6/MagicGolens/.vs/MagicGolens/v16/Browse.VC.opendb
GameV6/MagicGolens/.vs/MagicGolens/v16/.suo
GameV6/MagicGolens/.vs/MagicGolens/v16/Browse.VC.db
GameV6/MagicGolens/.vs/MagicGolens/v16/ipch/7f9ada9372f2e81a.ipch
GameV6/MagicGolens/x64/Debug/Entidade.obj
GameV6/MagicGolens/x64/Debug/Fase.obj
GameV6/MagicGolens/x64/Debug/FasePedra.obj
GameV6/MagicGolens/x64/Debug/GerenciadorAtualizacoes.obj
GameV6/MagicGolens/x64/Debug/GerenciadorEstado.obj
GameV6/MagicGolens/x64/Debug/GerenciadorGrafico.obj
GameV6/MagicGolens/x64/Debug/GerenciadorMapa.obj
GameV6/MagicGolens/x64/Debug/Jogador.obj
GameV6/MagicGolens/x64/Debug/Jogo.obj
GameV6/MagicGolens/x64/Debug/ListaEntidades.obj
GameV6/MagicGolens/x64/Debug/MagicGolens.exe
GameV6/MagicGolens/x64/Debug/MagicGolens.ilk
GameV6/MagicGolens/x64/Debug/MagicGolens.log
GameV6/MagicGolens/x64/Debug/MagicGolens.obj
GameV6/MagicGolens/x64/Debug/MagicGolens.pch
GameV6/MagicGolens/x64/Debug/MagicGolens.pdb
GameV6/MagicGolens/x64/Debug/MagicGolens.tlog/CL.command.1.tlog
GameV6/MagicGolens/x64/Debug/MagicGolens.tlog/CL.read.1.tlog
GameV6/MagicGolens/x64/Debug/MagicGolens.tlog/CL.write.1.tlog
GameV6/MagicGolens/x64/Debug/MagicGolens.tlog/link.read.1.tlog
GameV6/MagicGolens/x64/Debug/Mapa.obj
GameV6/MagicGolens/x64/Debug/Menu.obj
GameV6/MagicGolens/x64/Debug/MenuFases.obj
GameV6/MagicGolens/x64/Debug/MenuInicial.obj
GameV6/MagicGolens/x64/Debug/MenuPause.obj
GameV6/MagicGolens/x64/Debug/Personagem.obj
GameV6/MagicGolens/x64/Debug/stdafx.obj
GameV6/MagicGolens/x64/Debug/Tile.obj
GameV6/MagicGolens/x64/Debug/vc142.idb
GameV6/MagicGolens/x64/Debug/vc142.pdb
